html {
  // Prevents pagenav tooltip from triggering a horizontal scroll bar
  // Only affects IE11 but applied globally to weed out bugs
  // --------------------------------------------------
  overflow-x: hidden;
}

.pagenav {
  &__widget {
    position: relative;
  }

  &__btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__btn-inner {
    display: flex;
    align-items: center;
  }
}

// --------------------------------------------------
// THEME
// --------------------------------------------------
.pagenav {
  &__btn {
    margin: @item-margin;
    .btn-color;

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .btn-color-hover;
    }

    html:not(.a11y-disable-focusoutline) &:focus-visible {
      .btn-color-focus;
    }

    &[aria-current="page"] {
      .btn-color-selected;
    }
  }

  &__btn.is-disabled {
    .btn-color-disabled;
  }

  &__btn-icon .icon {
    display: block;
  }

  // buttons with text and icon (left aligned icon as default)
  // --------------------------------------------------
  &__btn.icon-is-left &__btn-icon {
    padding-inline-end: (@icon-padding / 2);
  }

  // buttons with text and icon (right aligned icon)
  // --------------------------------------------------
  &__btn.icon-is-right &__btn-icon {
    padding-inline-start: (@icon-padding / 2);
  }
}
