.pagenav {
  &__tooltip {
    position: absolute;
    .transform(translate(-50%, -100%));
    visibility: hidden;
    white-space: nowrap;
  }

  &__tooltip.show {
    visibility: visible;
  }

  &__triangle {
    position: relative;
    .transform(translateX(-50%));
    width: @item-padding;
    height: @item-padding;
  }

  &__triangle:after {
    content: "";
    position: absolute;
    border-width: @item-padding (@item-padding / 2) 0 (@item-padding / 2); /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: red transparent transparent transparent;
  }
}

// --------------------------------------------------
// THEME
// --------------------------------------------------
.pagenav {
  &__tooltip-text {
    padding: @item-padding / 2;
    background-color: @item-color;
    color: @item-color-inverted;
    border-radius: @item-border-radius;
  }

  &__triangle:after {
    border-color: @item-color transparent transparent transparent;
  }
}
