<div class="component__inner pagenav__inner">

  {{> component}}

  <div class="component__widget pagenav__widget">

    <div class="pagenav__tooltip-container"></div>

    <nav class="pagenav__btn-container" aria-label="{{_globals._components._pageNav.ariaRegion}}">
      {{#each _items}}
      {{> pageNav-item this}}
      {{/each}}
    </nav>

  </div>

</div>
